<div class="stencil">
  <div class="stencil__icons">
    <div>
      {{>atoms-icon(icon: 'icon-full-color-ubuntu')}}
    </div>
    <div>
      {{>atoms-icon(icon: 'icon-full-color-ruby-alt')}}
    </div>
    <div>
      {{>atoms-icon(icon: 'icon-full-color-rails-alt')}}
    </div>
    <div>
      {{>atoms-icon(icon: 'icon-full-color-capistrano')}}
    </div>
  </div>
  <div class="stencil__content">
    <h4>Ruby, Rails &amp; Capistrano</h4>
    <p>Tasks for testing, deployment to two environments including pre-generated deploy-keys. Tailor-made for your repository.</p>
  </div>
</div>
