<div class="variables">
  <h4>Environment Variables</h4>
  <div class="variable">
    <span contenteditable class="variable__key">RAILS_ENV</span>
    <span contenteditable class="variable__value">testing</span>
  </div>
  <div class="variable">
    <span contenteditable class="variable__key">RAILS_ENV</span>
    <span contenteditable class="variable__value">testing</span>
  </div>
  <div class="variable variable--new">
    <span contenteditable class="variable__key">KEY</span>
    <span contenteditable class="variable__value">Value</span>
  </div>
</div>
