.featureSection__hero {
  @extend .featureSection;
  @extend .bgColor__purple;
  text-align: center;
  color: material-color-contrast(black);
  padding-top: 90px;
  padding-bottom: 138px;
  h1 {
    color: material-color-contrast(black);
  }
  p {
    margin: 25px 0;
  }
  svg {
    height: 128px;
    width: auto;
    background-color: white;
    border-radius: 128px;
    padding: 20px;
  }
}

@media (max-width: map-get($breakpoint, desktop) - 1 ) {
  .featureSection__hero {
    h1 {
      font-size: 34px;
    }
  }
}
