.featureSection__wrapsCliTools {
  text-align: center;
  background-color: #F5F4F5;
  padding: 60px 0;
  &__item {
    padding: 0 50px;
    font-weight: normal;
    color:#988498;
    font-size: 14px;
    h2, h3 {
      color: #4B334B;
      font-weight: 300;
    }
    h3 {
      font-weight: 400;
      margin: 4px;
      font-size: 18px;
    }
    p {
      margin: 4px 0;
    }
    strong {
      font-weight: 500;
    }
    &--triggers .featureSection__wrapsCliTools__icon{
      z-index: 20;
      &:before {
        background-image: none;
      }
    }

    &--tasks .featureSection__wrapsCliTools__icon{
      z-index: 15;
    }

    &--notifiers .featureSection__wrapsCliTools__icon{
      z-index: 10;
    }
    @media (max-width: map-get($breakpoint, desktop) - 1) {
      .featureSection__wrapsCliTools__icon:before {
        display: none;
      }
    }
  }
  &__icon {
    width: 120px;
    margin: 0 auto;
    height: 110px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #F5F4F5;
    z-index: 2;
    &:before {
      z-index: 1;
      content: ' ';
      position: absolute;
      height: 10px;
      width: 460px;
      bottom: 50px;
      right: 100%;
      background-image: url('../images/wraps-cli-tools/arrow.svg');
      background-color: #F5F4F5;
      background-position: center;
    }
  }
}
