<harrow-form save="ctrl.enable()" translation-root="forms.enableTotp" no-controls class="card card--wizard">
  <div class="card__content card__content--centered">
    <h3 translate="forms.enableTotp.header"></h3>
    <p translate="forms.enableTotp.explanation"></p>
    <center>
      <totp-qr-code email="{{ctrl.totpEmail}}" secret="{{ctrl.totpSecret}}"></totp-qr-code>
    </center>
    <br/>
    <p><span translate="forms.enableTotp.secret"></span> <code>{{ctrl.totpSecret}}</code></p>
    <harrow-input>
      <input name="totpToken" type="number" ng-minlength="6" ng-maxlength="6" ng-model="ctrl.totpToken" />
    </harrow-input>
  </div>
  <div class="card__footer">
    <a ng-click="appctrl.back()" class="btn">Back</a>
    <div class="layout__spacer"></div>
    <button type="submit" class="btn btn--primary" ng-disabled="harrowForm.form.$invalid">Confirm <span svg-icon="icon-chevron-right"></span></button>
  </div>
</harrow-form>
