<harrow-form save="forgotPassword.submit()" translation-root="forms.forgotPassword" no-controls class="card card--wizard">
  <div class="card__content card__content--centered">
    <h3>Reset password</h3>
    <br>
    <harrow-input>
      <input name="email" type="email" ng-model="forgotPassword.email" required="true" focus-if />
    </harrow-input>
  </div>
  <div class="card__footer">
    <div class="layout__spacer"></div>
    <button type="submit" class="btn btn--primary" ng-disabled="harrowForm.form.$invalid">Reset password <span svg-icon="icon-chevron-right"></span></button>
  </div>
</harrow-form>
