<harrow-form save="resetPassword.submit()" translation-root="forms.resetPassword" no-controls class="card card--wizard">
  <div class="card__content card__content--centered">
    <h3>Reset password</h3>
    <br>
    <harrow-input>
      <input name="password" type="password" ng-model="resetPassword.password" required="true" minlength="10" focus-if />
    </harrow-input>
    <harrow-input>
      <input name="passwordConfirmation" type="password" ng-model="passwordConfirmation" validate-match="{{resetPassword.password}}" />
    </harrow-input>
  </div>
  <div class="card__footer">
    <div class="layout__spacer"></div>
    <button type="submit" class="btn btn--primary" ng-disabled="harrowForm.form.$invalid">Reset password <span svg-icon="icon-chevron-right"></span></button>
  </div>
</harrow-form>
