<form action="#" method="post" class="form-horizontal newsletter-form">
  <fieldset>
    <legend>Sign up for our newsletter</legend>
    <label for="newsletter-scope">Sign up for our newsletter</label>
    <div class="inline-container">
      <input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
      <button class="btn btn-success">Sign Me Up <i class="fa fa-fw fa-envelope"></i></button>
    </div>
  </fieldset>
</form>
