<div class="grid" id="formRepositoryAccessPublic">
  <div class="cell cell--12Col form-group">
    <label for="url">URL</label>
    <div>
      <input type="url" placeholder="e.g. git@github.com:rails/rails.git">
    </div>
  </div>
</div>
