<div class="card wizard__card wizard__card--intro">
  <div class="card__content">
    <div class="cell cell--middle cell--center">
      {{>atoms-avatar}}
      <h2>Hey Lee Hambley</h2>
      <p>Lets get your account all setup.</p>
      <p>
        <a href="#" class="btn btn--github">{{>atoms-icon(icon: 'icon-github')}}Connect to GitHub</a>
      </p>
      <p>
        <a href="#" class="btn btn--bitbucket">{{>atoms-icon(icon: 'icon-bitbucket')}}Connect to Bitbucket</a>
      </p>
      <br>
      <p><a href="{{link.templates-wizard-create}}">or Setup Manually</a></p>
    </div>
  </div>
</div>
