Welcome, {{.Recipient.DisplayName}},

{{.Actor.DisplayName}} just {{.Action.DisplayName}} your invitation.

View this {{.Object.DisplayName}} here:

    https://{{.Recipient.UrlHost}}/#{{.Object.Uri}}

Harrow is a powerhouse, incase you need a hand getting stared why not
checkout our short YouTube video introduction to our features, and a handful
of use-cases: https://www.youtube.com/

Of course, you shouldn't forget to download the command line client with Go:

    $ go get github.com/harrowio/harrow-cli
    $ harrow-cli configure user.apiToken 5039e397-3558-496b-b586

If your company is interesting in getting the most out of Harrow, we have a
programme for paid consulting services from which you can get a gratis licence
to Harrow and exclusive access to the core team to help optimize your workflows
and port all the painful parts to Harrow.

   Learn More:  https://{{.Recipient.UrlHost}}/{{.Object.Uri}}

===============================================================================

* Terms of Service:    https://www.harrow.io/terms-of-service
* Privacy:             https://www.harrow.io/privacy-policy

Connect With Us:
 * https://www.facebook.com/harrow.io
 * http://twitter.com/harrowio
 * https://plus.google.com/communities/111732444272140063932
 * hello@harrow.io
