{{.Recipient.Subject}}

{{.Actor.DisplayName}} {{.Action.DisplayName}} {{.Object.DisplayName}} for Harrow!

Before you can use your account fully we need you to verify your email by
clicking the following link, if the link doesn't work in your email client
you may have to copy and paste the URL into your browser.

https://{{.Recipient.UrlHost}}/#{{.Object.Uri}}"

===============================================================================

* Terms of Service:    https://www.harrow.io/terms-of-service
* Privacy:             https://www.harrow.io/privacy-policy

Connect With Us:
 * https://www.facebook.com/harrow.io
 * http://twitter.com/harrowio
 * https://plus.google.com/communities/111732444272140063932
 * hello@harrow.io
