<div class="c-comparisons">
  <div class="container">
    <h3>Harrow versus&hellip;</h3>
    <div class="c-comparisons__grid">
      {{#comparisons}}
        {{>molecules-compare}}
      {{/comparisons}}
    </div>
  </div>
</div>
