<div class="c-comparison">
    <div class="container">
        <table class="c-comparison__table">
            <thead>
                <tr>
                    <td></td>
                    <td>
                      <svg width="100" height="100" class="iconColor" svg-icon="icon-full-color-harrow">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#icon-full-color-harrow"></use>
                      </svg>
                    </td>
                    <td>
                      <svg width="100" height="100" class="iconColor" svg-icon="icon-full-color-travis">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#icon-full-color-travis"></use>
                      </svg>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <strong>Free Updates</strong>
                            <br>
                            <p>You do not have to pay any more for the latest features</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <strong>Advanced Documentation</strong>
                            <br>
                            <p>You have access to a extensive growing knowlage base of information on how to use the product.</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <strong>Task, triggers and environments</strong>
                            <br>
                            <p>You can trigger tasks in different environments</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <strong>Advanced Security</strong>
                            <br>
                            <p>Your tasks run within a secure virtual machine that are destroyed after use.</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <strong>Test, Build &amp; Deploy</strong>
                            <br>
                            <p>You can test, build, and deploy your application.</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <strong>User Friendly Interface</strong>
                            <br>
                            <p>You're greeted by special people who will hold your precious hand though the process of doing your work for you.</p>
                        </div>
                    </td>
                    <td>
                        <svg>
                            <use xlink:href="/images/icons.svg#icon-check">
                        </svg>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
