<div class="featureSection__wrapsCliTools">
  <div class="grid grid--wrap container__basic">
    <div class="cell cell--12Col">
      <h2>Harrow wraps your command line tools in<br> triggers, tasks and notifications</h2>
    </div>

    <div class="cell cell--4Col featureSection__wrapsCliTools__item featureSection__wrapsCliTools__item--triggers">
      <div class="featureSection__wrapsCliTools__icon">
        <img src="/images/wraps-cli-tools/wraps-cli-tools-triggers.svg">
      </div>

      <h3>Triggers are used to start tasks</h3>
      <p>These events can be webhooks, code changes, times in the day or even the success of another harrow task.</p>
    </div>

    <div class="cell cell--4Col featureSection__wrapsCliTools__item featureSection__wrapsCliTools__item--tasks">
      <div class="featureSection__wrapsCliTools__icon">
        <img src="/images/wraps-cli-tools/wraps-cli-tools-tasks.svg">
      </div>

      <h3>Tasks is where the action happens</h3>
      <p>Use tasks to deploy, run scripts, tests, updates and much much more across one of <strong>multiple environments</strong>.</p>
    </div>

    <div class="cell cell--4Col featureSection__wrapsCliTools__item featureSection__wrapsCliTools__item--notifers">
      <div class="featureSection__wrapsCliTools__icon">
        <img src="/images/wraps-cli-tools/wraps-cli-tools-notifiers.svg">
      </div>

      <h3>Notifications keep you &amp; your team in the loop</h3>
      <p>Use notifications to keep you and your team informed by email, slack or connect to 3rd party tools and even trigger other Harrow tasks.</p>
    </div>
  </div>
</div>
