<div class="card card--wizard">
  <div class="card__content card__content--centered">
    <h3 translate="errors.blocked.header"></h3>
    <p translate="errors.blocked.description"></p>
    <p><a ng-click="error.resendVerificationEmail()" translate="errors.blocked.resendVerificationEmail"></a></p>
    <p translate="errors.blocked.hint"></p>
    <hr style="height: 1px; width:100%; border: none;" class="bgColor__grey--200">

    <p style="text-align:center;">
      Alternatively you can <a ng-click="appctrl.logout()">log out</a>
    </p>
  </div>
</div>
