<div class="card card--wizard">
  <div class="card__content card__content--centered">

    <h3 translate="errors.github_existing_unlinked_user.header"></h3>
    <p translate="errors.github_existing_unlinked_user.description"></p>
    <p translate="errors.github_existing_unlinked_user.hint"></p>

  </div>
  <div class="card__footer">
    <a href ui-sref="forgot_password" class="btn">Reset password</a>
    <div class="layout__spacer"></div>
    <a href ui-sref="login" class="btn btn--primary">Login</a>
  </div>
</div>
