{{> organisms-hero }}
<div class="feature201607">
  <div class="container">
    <div class="feature201607__container feature201607__container--underline">
      <div class="feature201607__detail">
        <h2>Share the load,<br> communicate smoothly</h2>
        <p>Continuous intergration hides critical information your most valiable stakeholders. Get them involved early and often by centering your collaboration in Harrow.</p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>
{{> organisms-comparison }}
{{> organisms-comparisons }}
{{> organisms-get-started }}
{{> organisms-footer }}
