<div class="alert alert-{{ alertClass }}">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h3>Welcome to Harrow Syleguide!</h3>
  <p> {{ excerpt.short }} </p>
  <button class="btn btn-{{ alertClass }}" href="">Get Started!</button>
</div>
