<div class="app__content">
  <div class="card" style="margin-bottom: 10px">
    <div class="card__header">
      {{secretShow.secret.subject.name}} Public Key
    </div>
    <div class="card__items card__content--centered">
      <code class="card__codeblock card__codeblock--dark cell--stretch">
        <pre>{{secretShow.secret.subject.publicKey}}</pre>
        <div clipboard="secretShow.secret.subject.publicKey"><span svg-icon="icon-copy" svg-icon-size="8"></span> Copy</div>
      </code>
    </div>
  </div>

  <div class="card" style="margin-bottom: 10px">
    <div class="card__header">
      {{secretShow.secret.subject.name}} Private Key
    </div>
    <div class="card__items card__content--centered">
      <code class="card__codeblock card__codeblock--dark cell--stretch">
        <pre ng-show="secretShow.secret.subject.privateKey">{{secretShow.secret.subject.privateKey}}</pre>
        <div clipboard="secretShow.secret.subject.privateKey"><span svg-icon="icon-copy" svg-icon-size="8"></span> Copy</div>
      </code>

    </div>
    <div class="flash flash--info">
      <div class="flash__message">
        <span svg-icon="icon-error"></span>
        <span>There is probably no reason for this key to leave Harrow except for debugging, proceed with caution!</span>
      </div>
    </div>
  </div>
</div>
