<i class="indicator indicator-sm"></i>
<i class="indicator indicator-sm indicator-active"></i>
<i class="indicator indicator-sm indicator-success"></i>
<i class="indicator indicator-sm indicator-attention"></i>
<i class="indicator indicator-sm indicator-info"></i>
<i class="indicator indicator-sm indicator-failure"></i>
<i class="indicator indicator-sm indicator-fatal"></i>

<br/>
<i class="indicator indicator-md "></i>
<i class="indicator indicator-md indicator-active"></i>
<i class="indicator indicator-md indicator-success"></i>
<i class="indicator indicator-md indicator-attention"></i>
<i class="indicator indicator-md indicator-info"></i>
<i class="indicator indicator-md indicator-failure"></i>
<i class="indicator indicator-md indicator-fatal"></i>

<br/>
<i class="indicator indicator-lg "></i>
<i class="indicator indicator-lg indicator-active"></i>
<i class="indicator indicator-lg indicator-success"></i>
<i class="indicator indicator-lg indicator-attention"></i>
<i class="indicator indicator-lg indicator-info"></i>
<i class="indicator indicator-lg indicator-failure"></i>
<i class="indicator indicator-lg indicator-fatal"></i>
