<div class="cell cell--3Col standard__page__sidebar">
  <nav class="navigation">
    <a href="{{link.templates-standard-page}}">Our Design Policy
      <svg width="36" height="36">
      <use xlink:href="/images/icons.svg#icon-chevron-right"></use>
    </svg></a>
    <a href="{{link.templates-standard-page}}">Press Releases
      <svg width="36" height="36">
      <use xlink:href="/images/icons.svg#icon-chevron-right"></use>
    </svg></a>
    <a href="{{link.templates-team}}">Our Team
      <svg width="36" height="36">
      <use xlink:href="/images/icons.svg#icon-chevron-right"></use>
    </svg></a>
    <a href="{{link.templates-standard-page}}">Legal Information
      <svg width="36" height="36">
      <use xlink:href="/images/icons.svg#icon-chevron-right"></use>
    </svg></a>
  </nav>
</div>
