Welcome, {{.Recipient.DisplayName}},

{{.Actor.DisplayName}} just {{.Action.DisplayName}} for {{.Object.DisplayName}}

Reply to this invitation here:

    https://{{.Recipient.UrlHost}}/#{{.Object.Uri}}

If you need anything, why not read a little more about Harrow in our blog
or simply drop us a mail at team@harrow.io.

===============================================================================

* Terms of Service:    https://www.harrow.io/terms-of-service
* Privacy:             https://www.harrow.io/privacy-policy

Connect With Us:
 * https://www.facebook.com/harrow.io
 * http://twitter.com/harrowio
 * https://plus.google.com/communities/111732444272140063932
 * hello@harrow.io
