<div ng-if="environmentForm.envSecrets.length == 0">
  <p>This environment contains no secrets.</p>
</div>

<table class="table secrets" ng-if="environmentForm.envSecrets.length != 0">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="value">Value</th>
      <th class="buttons"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="secret" ng-repeat="secret in environmentForm.envSecrets">
      <td class="name" style="min-width: 150px;">
        <code>{{secret.subject.name}}</code>
      </td>
      <td class="value" style="width:100%;">
        <code harrow-can can-subject="secret" can-action="readPrivileged" conceal>{{secret.subject.value}}</code>
      </td>
      <td class="buttons" style="white-space: nowrap;">
        <!-- <a harrow-can can-subject="secret" can-action="readPrivileged" class="btn btn--small" ng-click="environmentForm.showVariableValueModal(secret.subject.name, secret.subject.value)">Show</a> -->
        <a harrow-can can-subject="secret" can-disable can-action="archive" class="btn btn--small" ng-click="environmentForm.deleteSecret(secret)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
