<nav class="navigation">
	<a class="navigation__link" href="{{ link.pages-homepage }}">Home</a>
	<a class="navigation__link" href="#">About</a>
	<a class="navigation__link" href="{{ link.pages-blog }}">Blog</a>
	<a class="navigation__link" href="#">Contact</a>
	<a class="navigation__link navigation__link--primary" href="#">Sign Up</a>
</nav>
