<ol class="breadcrumb">
  <li>
    <a href="">Home</a>
  </li>
  <li>
    <a href="">Child</a>
  </li>
  <li>
    <a href="">Grandchild</a>
  </li>
  <li class="active ng-binding">Great Grandchild</li>
  <div class="pull-right">
    <a href=""><i class="fa fa-fw fa-cogs"></i></a> <a class="danger" href=""><i class="fa fa-fw fa-trash-o"></i></a>
  </div>
</ol>
