{
  "{{ harrow.environment }}": {
    "oauth.github.import-repository": {{ harrow.github.oauth.import_repository.enabled | to_json }},
    "oauth.github.authentication": {{ harrow.github.oauth.authentication.enabled | to_json }},
    "trial-period.enabled": {{ harrow.features.trial_period.enabled | to_json }},
    "limits.enabled": {{ harrow.features.limits.enabled | to_json }},
    "guest-account.enabled": {{ harrow.features.guest_account.enabled | to_json }},
    "public-projects.enabled": {{ harrow.features.public_projects.enabled |to_json }}
  }
}
