{
  "{{ harrow.environment }}": {
    "log_dir": "/var/log/harrow",
    "git_temp_dir": "/mnt/gluster/harrow/git_temp"
  }
  {% if harrow.environment == "development" %}
  ,"test": {
    "log_dir": "/harrow/api/var_test/lib/harrow/logs",
    "git_temp_dir": "/mnt/gluster/harrow/git_temp"
  }
  {% endif %}
}
