{
  "{{ harrow.environment }}": {
    "LibvirtConn": "{{ harrow.runners.libvirt.libvirt_conn }}",
    "PoolPath": "{{ harrow.runners.libvirt.pool_path }}",
    "Baseimage": "{{ harrow.runners.libvirt.baseimage }}",
    "Vcpu": {{ harrow.runners.libvirt.vcpu }},
    "VolumeSize": {{ harrow.runners.libvirt.volume_size }},
    "Memory": {{ harrow.runners.libvirt.memory }},
    "StartLimit": "{{ harrow.runners.libvirt.start_limit }}"
  }
}
