{
  "{{ harrow.environment }}": {
    "providers": {
      "github": {
        "clientId": "{{ harrow.github.oauth.app_id }}",
        "clientSecret": "{{ harrow.github.oauth.app_secret }}",
        "providerUrl": "https://github.com/login/oauth/authorize",
        "redirectUri": "{{ harrow.github.oauth.redirect_uri_pattern }}",
        "scope": [
          "user",
          "write:repo_hook",
          "write:public_key",
          "repo"
        ]
      }
    }
  }
  {% if harrow.environment == "development" %}
  ,"test": {
    "providers": {
      "github": {
        "clientId": "test-clientid",
        "clientSecret": "test-clientsecret",
        "providerUrl": "https://github.tld/login/oauth/authorize",
        "redirectUri": "https://test.tld/#/a/github/callback/%s",
        "scope": [
          "user",
          "write:repo_hook",
          "write:public_key",
          "repo"
        ]
      }
    }
  }
  {% endif %}
}

