<a href="{{ link.templates-homepage }}" class="layout-title {{styleModifier}}" title="Homepage">
  <svg width="200" height="34">
    <use xlink:href="/images/icons.svg#logo-with-type"></use>
  </svg>
</a>
