Hi, {{.Recipient.DisplayName}},


{{.Actor.DisplayName}} {{.Action.DisplayName}} for your Harrow account:

  {{.Object.DisplayName}}

If that was you, please use the following URL to set a new password:

  https://{{.Recipient.UrlHost}}/{{.Object.Uri}}

If that wasn't you, just ignore this email. No changes to your account have
been made yet.

===============================================================================

* Terms of Service:    https://www.harrow.io/terms-of-service
* Privacy:             https://www.harrow.io/privacy-policy

Connect With Us:
 * https://www.facebook.com/harrow.io
 * http://twitter.com/harrowio
 * https://plus.google.com/communities/111732444272140063932
 * hello@harrow.io
