<ul class="member-list">
  <li>
    {{> atoms-avatar }}
    <div>
      <span>Person Name</span>
      <br/>
      <small>Role</small>
    </div>
  </li>
  <li>
    {{> atoms-avatar }}
    <div>
      <span>Person Name</span>
      <br/>
      <small>Role</small>
    </div>
  </li>
  <li>
    {{> atoms-avatar }}
    <div>
      <span>Person Name</span>
      <br/>
      <small>Role</small>
    </div>
  </li>
</li>
