<div class="card card--{{styleModifier}}">
  {{#header}}
  <div class="card__header">
    {{header}}
  </div>
  {{/header}}
  <div class="card__content">
    {{{content}}}
  </div>
  {{#footer}}
  <div class="card__footer">
    <div class="cell">
      <a href="" class="btn">Back</a>
    </div>
    <div class="cell cell--right">
      <a href="" class="btn btn--primary">Continue</a>
    </div>
  </div>
  {{/footer}}
</div>
