<div class="grid">
  <div class="cell cell--right">
    <a href="#" class="btn btn--backwards" {{#firstPage}} disabled=true {{/firstPage}}>{{> atoms-icon(icon: 'icon-chevron-right' )}}</a>
    <a href="#" class="btn btn--forwards">{{> atoms-icon(icon: 'icon-chevron-right' )}}</a>
  </div>
</div>
