<div class="cell cell--4Col featureSection__tools__tool featureSection__tools__tool--{{styleModifier}}">
  <h4 class="featureSection__tools__tool__header">{{ title }}</h4>

  <div class="featureSection__keyPoints">
    {{# keyPoints }}
      <div class="grid featureSection__keyPoint">
        {{#icon}}
          <div class="cell cell--middle featureSection__keyPoint__icon">
            <svg>
              <use xlink:href="/images/icons.svg#{{icon}}">
            </svg>
          </div>
        {{/icon}}
        <div class="cell">
          {{#title}}
            <h4>{{ title }}</h4>
          {{/title}}
          <p>{{ desc }}</p>
        </div>
      </div>
    {{/ keyPoints }}
  </div>
</div>
