<div class="container">
  <div class="row demo">
    <div class="col-md-3">
      <div class="gi">1/4</div>
    </div>
    <div class="col-md-9">
      <div class="gi">3/4</div>
    </div>
  </div>

  <div class="row demo">
    <div class="col-md-6">
      <div class="gi">1/2</div>
    </div>
    <div class="col-md-6">
      <div class="gi">1/2</div>
    </div>
  </div>
</div>
