<div class="container">
  <div class="row demo">
    <div class="col-md-4">
      <div class="gi">1/3</div>
    </div>
    <div class="col-md-4">
      <div class="gi">1/3</div>
    </div>
    <div class="col-md-4">
      <div class="gi">1/3</div>
    </div>
  </div>
</div>
