<style>
  /* Make the Cell standout better for the documentation */
  .cell {
    background-color: #ddd;
    text-align: center;
    min-height: 100px;
  }
</style>

<div class="grid">
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
  <div class="cell cell--1Col">
    1
  </div>
</div>

<div class="grid">
  <div class="cell cell--2Col">
    2
  </div>
  <div class="cell cell--2Col">
    2
  </div>
  <div class="cell cell--2Col">
    2
  </div>
  <div class="cell cell--2Col">
    2
  </div>
  <div class="cell cell--2Col">
    2
  </div>
  <div class="cell cell--2Col">
    2
  </div>
</div>

<div class="grid">
  <div class="cell cell--3Col">
    3
  </div>
  <div class="cell cell--3Col">
    3
  </div>
  <div class="cell cell--3Col">
    3
  </div>
  <div class="cell cell--3Col">
    3
  </div>
</div>

<div class="grid">
  <div class="cell cell--4Col">
    4
  </div>
  <div class="cell cell--4Col">
    4
  </div>
  <div class="cell cell--4Col">
    4
  </div>
</div>

<div class="grid">
  <div class="cell cell--5Col">
    5
  </div>
  <div class="cell cell--5Col">
    5
  </div>
  <div class="cell cell--2Col">
    2
  </div>
</div>

<div class="grid">
  <div class="cell cell--6Col">
    6
  </div>
  <div class="cell cell--6Col">
    6
  </div>
</div>

<div class="grid">
  <div class="cell cell--7Col">
    7
  </div>
  <div class="cell cell--5Col">
    5
  </div>
</div>

<div class="grid">
  <div class="cell cell--8Col">
    8
  </div>
  <div class="cell cell--4Col">
    4
  </div>
</div>

<div class="grid">
  <div class="cell cell--9Col">
    9
  </div>
  <div class="cell cell--3Col">
    3
  </div>
</div>

<div class="grid">
  <div class="cell cell--10Col">
    10
  </div>
  <div class="cell cell--2Col">
    2
  </div>
</div>

<div class="grid">
  <div class="cell cell--11Col">
    11
  </div>
  <div class="cell cell--1Col">
    1
  </div>
</div>

<div class="grid">
  <div class="cell cell--12Col">
    12
  </div>
</div>


<div class="grid" style="min-height: 300px; border: 1px solid grey">
  <div class="cell cell--3Col cell--top">
    top
  </div>

  <div class="cell cell--3Col cell--middle">
    middle
  </div>

  <div class="cell cell--3Col cell--bottom">
    bottom
  </div>

  <div class="cell cell--3Col cell--stretch">
    stretch
  </div>
</div>
