<div class="field__group field__group--{{styleModifier}}">
  <div class="field__radio">
    <label>
      <input type="radio"/><span></span> {{label}}
    </label>
  </div>
  {{#hint}}
    <p class="field__hint">{{>atoms-icon(icon: 'icon-info')}} {{hint}}</p>
  {{/hint}}
</div>
