<p><button class="btn btn-small">Small Button</button></p>
<p><button class="btn">Button</button></p>
<p><a href="#" class="btn">Link Button</a></p>
<p><a href="#" class="btn btn-primary">Primary Button</a></p>
<p><a href="#" class="btn btn-success">Success Button</a></p>
<p><a href="#" class="btn btn-danger">Danger Button</a></p>
<p><a href="#" class="btn btn-primary" disabled="disabled">Disabled Button</a></p>
