<p><button class="btn"><i class="fa fa-fw fa-bars"></i>Button</button></p>
<p><a href="#" class="btn"><i class="fa fa-fw fa-phone"></i> Link Button</a></p>
<p><a href="#" class="btn btn-primary"><i class="fa fa-fw fa-play"></i> Primary Button</a></p>
<p><a href="#" class="btn btn-success"><i class="fa fa-fw fa-link"></i> Success Button</a></p>
<p><a href="#" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> Danger Button</a></p>
