[Unit]
Description=Harrow Mail Dispatcher
#Requires=harrow.service
After=harrow.service
{% if harrow.services.notify_on_failure %}
OnFailure=harrow-notify-about-failure@%n.service
{% endif %}

[Service]
EnvironmentFile=/etc/harrow/env
WorkingDirectory=/tmp
PrivateTmp=true
ExecStart=/usr/local/bin/harrow mail-dispatcher
User=harrow
Restart=always
