[Unit]
Description=Harrow
Wants= \
      harrow-activity-worker.service \
      harrow-api.service \
      harrow-build-status-worker.service \
      harrow-git-trigger-worker.service \
      harrow-keymaker.service \
      harrow-mail-dispatcher.service \
      harrow-metadata-preflight.service \
      harrow-notifier.service \
      harrow-postal-worker.service \
      harrow-scheduler.service \
      harrow-ws.service \
      harrow-zob.service

After= \
      basic.target \
      network.target \
      redis.service \
      rabbitmq-server.service \
      postgresql-9.6.service

{% if harrow.services.notify_on_failure %}
OnFailure=harrow-notify-about-failure@%n.service
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/harrow/env
WorkingDirectory=/tmp
PrivateTmp=true
ExecStart=/usr/local/bin/harrow migrate
User=harrow

[Install]
WantedBy=multi-user.target
