[Unit]
Description=Harrow operation runner - %i
Requires=harrow.service
After=harrow.service
{% if harrow.services.notify_on_failure %}
OnFailure=systemd-harrow-notify-about-failure@%n.service
{% endif %}

[Service]
Environment=HARROW_ENV={{ harrow.environment }}
WorkingDirectory=/srv/harrow
ExecStartPre=/bin/bash -c 'sleep $(( (RANDOM % 5) + 1))'
ExecStart=/srv/harrow/bin/operation-runner --connect %I
User=harrow
Restart=always

# To keep forked controller processes around when this unit is restarted
KillMode=process
