[Unit]
Description=Harrow Keymaker
#Requires=harrow.service
After=harrow.service
{% if harrow.services.notify_on_failure %}
OnFailure=harrow-notify-about-failure@%n.service
{% endif %}

[Service]
Environment=HARROW_ENV={{ harrow.environment }}
WorkingDirectory=/srv/harrow
ExecStart=/srv/harrow/bin/harrow-any keymaker
User=harrow
Restart=always
