{{> organisms-header:heavy }}
<div class="feature201607__hero">
  <div class="container">
    <h1>Features</h1>
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container feature201607__container--underline">
      <div class="feature201607__detail">
        <h2>Share the load,<br> communicate smoothly</h2>
        <p>Continuous intergration hides critical information your most valiable stakeholders. Get them involved early and often by centering your collaboration in Harrow.</p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>

<div class="feature201607 feature201607--break">
  <div class="container">
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
      <div class="feature201607__detail">
        <h2>Better quality code,<br>less effort</h2>
        <p>Do you have a process for your house-keeping tasks, checking licences, keeping dependencies up-to-date?<br>
        Traditional CI is limited to testing and deploying, but helping you focus on your own product by relieving you of house keeping nonsense is our job.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature201607__testimonals">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
    </div>
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__detail">
        <h2>Document and share</h2>
        <p>Shift all those frustrating odd-jobs to Harrow and expose them on your project’s dashboard so that you’re no longer the only person in the team who knows how fix things when  it hits the fan. Shift all those frustrating odd-jobs to Harrow and expose them on your project’s dashboard so that you’re no longer the only person in the team who knows how fix things when  it hits the fan. </p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>

<div class="feature201607 feature201607--break">
  <div class="container">
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
      <div class="feature201607__detail">
        <h2>Represents the reality of<br> modern software</h2>
        <p>Modern projects are complex. Harrow uniquely allows you to add multiple repositories to your project and perform complex integration tests, or follow upstream repositories and react to changes.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature201607__testimonals">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
    </div>
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__detail">
        <h2>Tasks, triggers and environments</h2>
        <p>Reuse tasks in different environments. Benefit from isolation and separation, to improve security. Set-up custom triggers to fire tasks in one environment and chain them together to build complex, but understandable pipelines.</p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>

<div class="feature201607 feature201607--break">
  <div class="container">
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
      <div class="feature201607__detail">
        <h2>Familiar interfaces to suit everyone</h2>
        <p>Harrow doesn’t force you to represent your tasks in flat YAML files. Write your tasks in any language using any frameworks or tools and optionally commit them into your repository. You can interact with Harrow via your CLI if you prefer that over the web.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature201607__testimonals">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
      <div class="feature201607__testimonal">
        {{#testimonial}}
          {{> molecules-testimonial }}
        {{/testimonial}}
      </div>
    </div>
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__detail">
        <h2>More secure, easier to setup</h2>
        <p>By centralizing keys and secrets within Harrowyou can use our role based access control to pick-and-choose who can access key tasks and infrastructure and see a detailed audit log of who’s done what.</p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>

<div class="feature201607 feature201607--break">
  <div class="container">
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
      <div class="feature201607__detail">
        <h2>Stay agile, enjoy the freedom to experiment</h2>
        <p>Container technology is moving faster than most of us can keep up. Harrow supports all container runtimes and always will.</p>
      </div>
    </div>
  </div>
</div>

<div class="feature201607 feature201607--break">
  <div class="container">
  </div>
</div>

<div class="feature201607">
  <div class="container">
    <div class="feature201607__container">
      <div class="feature201607__detail">
        <h2>Test, build, deploy or<br> maintain anything</h2>
        <p>Our tooling, languages and frameworks chance all the time. Our platform gives you super user access to powerful VMs so you can run any software imaginable on your own terms.</p>
      </div>
      <div class="feature201607__screenshot">
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>

{{> organisms-footer }}
