{{> organisms-header:heavy }}
<div class="standard__page">
  <div class="container grid grid--marginWide grid--wrap">
    <div class="cell cell--6Col feature__item">
      <h2>Log files are essential to identify the cause of failures</h2>
      <p>Lets say your website goes down due to an automated deployment, where somebody merged a branch. Without logs it is dificult for the team to find out what happened.</p>
      <div class="layout__spacer"></div>
      <div class="magnify" data-x="671" data-y="412" data-ratio=2>
        <img src="/images/app-screenshot.png">
      </div>
    </div>

    <div class="cell cell--6Col feature__item">
      <h2>Continuious Deployment</h2>
      <p>Deploy your applications when ever your repositories are committed to</p>
      <div class="layout__spacer"></div>
      <div class="magnify" data-x="1414" data-y="1058" data-ratio=2>
        <img src="/images/app-screenshot.png">
      </div>
    </div>
  </div>
</div>
{{> organisms-footer }}
