{{> organisms-header:heavy }}
<div class="page__iceburg__header">
  <div class="container grid grid--marginWide grid--wrap">
    <div class="cell cell--6Col">
      <h1>Just the tip of the <span class="page__iceburg__header__ciceburg"><span class="page__iceburg__header__ci">CI</span>ceberg&hellip;</span></h1>
      <p>Harrow is a task-runner you can use to automate anything to make your job easier.</p>
    </div>
    <div class="cell cell--6Col cell--middle">
      <iframe width="100%" height="310" src="https://www.youtube.com/embed/ouCzyKMZ6QI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="page__iceburg__content">
  <div>
    <div class="page__iceburg__point--above">
      <h3>Deployment</h3>
    </div>
    <div class="page__iceburg__point--above">
      <h3>Testing</h3>
    </div>
  </div>
  <!-- below the surface -->

  <div>
    <div class="page__iceburg__point">
      <h3>Share the load, communicate smoothly</h3>
      <p>Continuous integration hides critical information your most valiable stakeholders. Get them involve early and often by centering your collaboration in Harrow.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Test, build, deploy or maintain anything.maintain anything</h3>
      <p>Our platform gives you super user access to powerful VMs so you can run any software imaginable on your own terms.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Better quality code, less effort</h3>
      <p>Traditional CI is limited to testing and deploying, but helping you to focus on your own product by relieving you of house keeping nonsense is our job.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Stay agile, enjoy the freedom to experiment</h3>
      <p>Container technology is moving faster than most of us can keep up. Harrow supports all container runtimes and always will.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Document and share</h3>
      <p>Shift all those frustrating odd-jobs to Harrow and expose them on your project’s dashboard so that you’re no longer the only person in the team who knows how fix things when  it hits the fan. </p>
    </div>
    <div class="page__iceburg__point">
      <h3>More secure, easier to setup</h3>
      <p>By centralizing keys and secrets within Harrow you can use our role based access control to pick-and-choose who can access key tasks and infrastructure and see a detailed audit log of who’s done what.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Represents the reality of modern software</h3>
      <p>Modern projects are complex. Harrow uniquely allows you to add multiple repositories to your project and perform complex integration tests, or follow upstream repositories and react to changes.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Familiar interfaces to suit everyone</h3>
      <p>Harrow doesn’t force you to represent your tasks in flat YAML files. Write your tasks in any language using any frameworks or tools and optionally commit them into your repository.</p>
    </div>
    <div class="page__iceburg__point">
      <h3>Tasks, triggers and environments</h3>
      <p>Reuse tasks in different environments. Benefit from isolation and separation, to improve security. Set-up custom triggers to fire tasks in one environment and chain them together to build complex, but understandable pipelines.</p>
    </div>
  </div>
</div>
{{> organisms-footer }}
