{{> organisms-header:heavy }}
<div class="standard__page">
  <div class="container">
    <div class="standard__page__container grid">
      {{> organisms-standard-page-sidebar }}
      <div class="cell cell--9Col standard__page__content">
        <h2>{{ title }}</h2> {{{ body }}}
      </div>
    </div>
  </div>
</div>
{{> organisms-footer }}
