<section class="blockSection blockSection--blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>The tools you love, but better</h2>

        <h3>Make all your scripts and tools available to everyone in the team</h3>
        <p>Rely on Harrow to make sure everything you need to do your task is available quickly and easily online for the entire team. Do all of this without worrying about access tokens, API credentials, and SSH keys. Reduce your “bus factor” by setting up common tasks in Harrow so that your team-mates can work without interruption.</p>

        <h3>Stop searching for documentation</h3>
        <p>No more digging through poorly maintained documentation to find answers to questions such as “How do I get a development database?” or “Are the dependencies in this project up to date?”</p>

        <h3>No restrictions</h3>
        <p>Run tests, reports, metrics, deployments, builds, anything that you can script, in any of your favourite languages.</p>

      </div>
      <div class="col-sm-12 col-md-6 text-center hide-sm blockSection__imageCol">
        <img src="https://www.harrow.io/wp-content/themes/harrow/img/figure-fire-super-power-w320.png" />
      </div>
    </div>
  </div>
</section>
