<section class="blockSection blockSection--home">
  <div class="blockSection__bgImage blockSection__bgImage--home"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1>The world’s most flexible CI platform</h1>

        <p>Run any software, in any language. Create reliable, self-documenting, repeatable web-based tasks and make them available for your team-mates.</p>

        <p><strong>What makes Harrow an unique continuous integration tool?</strong>
        </p>
        <ul>
          <li><strong>Full root access:</strong> run your tasks in real VMs with Docker</li>
          <li><strong>Free choice:</strong> work with any Git hosting provider</li>
          <li><strong>Feels like home:</strong> work via browser or terminal</li>
          <li><strong>Flexibility:</strong> integration tests across several repositories</li>
          <li><strong>Flawless security:</strong> stop worrying about credentials &amp; keys</li>
        </ul>
        <br>
        <center>
          <a class="btn btn-success" href="https://www.app.harrow.io/#/a/signup" type="button">
            <strong>Try it now!</strong>
            <i class="fa fa-play"></i>
            <br>
            <small>30 days free trial – no credit card required!</small>
          </a>
        </center>
      </div>
      <div class="col-sm-12 col-md-6 text-center blockSection__collapseColumn">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lim0jIW9_Bw?rel=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
