<section class="blockSection blockSection--features">
  <div class="blockSection__bgImage blockSection__bgImage--features"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Complexity in DevOps is increasing</h2>
        <p>&nbsp;</p>

        <h3>Struggling with the number of tools your team use?</h3>
        <p>The increasing amount of tools and people plus the growing complexity in infrastructure lead to inefficiencies. For example a new team member has no idea how one is supposed to refresh the CDN caches. He does not know that a colleague wrote a script to update them. And even if he knew, would he be allowed to run it and have the correct CDN API keys at hand?</p>

        <h3>Whats the problem?</h3>
        <p>For the people who introduced the tools, they work beautifully. But not everyone else knows where to find them, and how to access or use them safely.</p>

        <h3>You think thats normal? Don’t accept it.</h3>
        <p>Harrow is designed to reduce the complexity in your toolkit so that your team can focus on getting their work done.</p>
      </div>
      <div class="col-md-6 hide-sm text-center blockSection__imageCol">
        <img src="https://www.harrow.io/wp-content/uploads/2015/08/complexity-w320.png" />
      </div>
    </div>
  </div>
</section>
