<h1>Heading 1 <small>Subheading</small></h1>
<h2>Heading 2 <small>Subheading</small></h2>
<h3>Heading 3 <small>Subheading</small></h3>
<h4>Headline <small>Subheading</small></h4>
<h5>Title <small>Subheading</small></h5>
<h6>Subhead <small>Subheading</small></h6>
<p>body</p>
