<div class="layout__header layout__header--app">
  <a href="" class="layout__sidebarButton tab tab--sidebarToggle">{{>atoms-icon(icon: 'icon-hamburger')}}</a>
  <a href="" class="tab tab--back">{{>atoms-icon(icon:'icon-chevron-left')}}<span class="tab__text">Back to Project</span></a>

  <span>
    Project:
    <strong>Activity Monitor</strong>
  </span>
  <div class="layout__spacer"></div>
  <a href="{{link.templates-project-edit-environments}}" class="tab">Dashboard</a>
  <a href="{{link.templates-project-edit-environments}}" class="tab active">Settings</a>
</div>
