<header class="layout__header layout__header--{{styleModifier}} bgColor__{{bgColor}}">
  <div class="layout__header__container">
    {{> atoms-logo }}
    <!-- Add spacer, to align navigation to the right -->
    <div class="layout-spacer"></div>
    <!-- Navigation -->
    <nav class="navigation">
      {{# headerLinks }}
        {{> atoms-button }}
      {{/ headerLinks }}
    </nav>
  </div>
</header>
<span class="layout__header__expander"></span>
