<div class="footer footer--compact">
  <nav class="navigation">
    <a href="https://kb.harrow.io/">Knowledge base</a>
    <a href="https://harrowio.uservoice.com/">Support</a>
  </nav>
  <div class="copyright">
    &copy; Harrow.io
    <nav class="navigation">
      <a href="https://harrow.io/contact/">Contact</a>
      <a href="https://harrow.io/privacy-policy/">Privacy</a>
      <a href="https://harrow.io/terms-and-conditions/">Terms</a>
    </nav>
  </div>
</div>
