@font-face {
    font-family: 'BLOKKNeue';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/blokk/BLOKKNeue-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/blokk/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/blokk/BLOKKNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/blokk/BLOKKNeue-Regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/blokk/BLOKKNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/blokk/BLOKKNeue-Regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
