# This exports GOPATH to be the present working
# directory until the first occurance of /src
export GOPATH="${$(pwd)%%/src*}"

export PATH=$GOPATH/bin:$PATH
export PATH=$HOME/go/bin:$PATH

# HAR_BRAINTREE_ENVIRONMENT=sandbox
# HAR_BRAINTREE_MERCHANT_ID=
# HAR_BRAINTREE_PUBLIC_KEY=
# HAR_BRAINTREE_PRIVATE_KEY=
# HAR_BRAINTREE_CACHE_FILE_PATH=/tmp/harrow-braintree-cache
#
# HAR_PGSQL_DSN=pgsql:host=localhost;port=5432;dbname=harrow-dev-test;user=harrow-dev-test;password=harrow-dev-test
#
# HAR_FEATURE_OAUTH_GITHUB_IMPORT_REPOSITORY=1
# HAR_FEATURE_OAUTH_GITHUB_AUTHENTICATION=1
# HAR_FEATURE_TRIAL_ENABLED=1
# HAR_FEATURE_LIMITS_ENABLED=1
# HAR_FEATURE_GUEST_ACCOUNT_ENABLED=1
#
# HAR_MACHINED_ACQUISITION_IMPL=lxd
# HAR_MACHINED_AWS_AS_NAME=
# HAR_MACHINED_OPERATOR_ENV=
# HAR_MACHINED_USE_PUBLIC_IP=
#
# HAR_REDIS_HOST=localhost
# HAR_REDIS_PORT=6739
#
# HAR_RABBITMQ_DSN=amqp://guest:guest@localhost:5672/example
#
# HAR_FILESYSTEM_LOG_DIR=/tmp
# HAR_FILESYSTEM_GIT_TMP_DIR=/tmp
#
# HAR_HTTP_BIND=8080
# HAR_HTTP_PORT=localhost
# HAR_HTTP_WEBSOCKET_PORT=
# HAR_HTTP_WEBSOCKET_BIND=5000
#
# # Generate an exampel with `openssl rand -hex 50'
# HAR_HTTP_USER_HMAC_SECRET=•••••••••••••
#
# HAR_LIMIT_STORE_CACHE_DIR=/tmp
#
# HAR_MAIL_FROM_ADDRESS=notifications@harrow.io
#
# HAR_OAUTH_GITHUB_CLIENT_ID=••••••
# HAR_OAUTH_GITHUB_CLIENT_SECRET=•••••••••••
# HAR_OAUTH_GITHUB_PROVIDER_URL="https://github.com/login/oauth/authorize"
# HAR_OAUTH_GITHUB_REDIRECT_URI="https://www.app.harrow.io/#/a/github/callback/%s"
# HAR_OAUTH_GITHUB_SCOPE="user,write:repo_hook,write:public_key,repo"
#
# # Used in the enterprise version to set the hostname of an otherwise anon
# # virtual machine.
# HAR_URL_HOST=
#
