<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{.Recipient.Subject}}</title>
    
    
    <meta name="viewport" content="width=device-width">
  </head>
  <body style="background-color: #f5f4f5; color: #988498; font-family: Roboto,HelveticaNeue,Helvetica,Arial,sans-serif; font-size: 13px; font-weight: 300; line-height: normal; margin: 0; min-width: 560px; padding: 0;">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" class="wrapper" style="padding: 25px;">
      <tr>
        <td class="wappercell" align="center">
          <table border="0" width="590" cellpadding="0" cellspacing="0" class="content" style="background-color: #fff; font-size: 14px; line-height: 24px;">
            <tr>
              <td class="headercell">
                <img src="cid:header@2x.jpg" width="590" height="117" border="0" alt="Harrow.io">
              </td>
            </tr>
            <tr>
              <td class="contentcell" style="padding-left: 25px;">
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top" class="operation__icon" style="padding-top: 30px; width: 30px;">
                      <img src="cid:error@2x.jpg" width="20" height="20" border="0" alt="Operation Complected Successfully">
                    </td>
                    <td valign="top">
                      <h1 class="operation__status operation__status--error" style="color: #4b334b; font-size: 30px; font-weight: 400; line-height: 38px;"><a href="https://{{.Recipient.UrlHost}}/{{.Object.Uri}}" style="color: #48639c; text-decoration: none;">Operation <span class="operation__status__underline" style="color: #b84a62; text-decoration: underline;">Error</span></a></h1>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="operation__table" style="margin-bottom: 25px;">
                        <tr>
                          <th style="text-align: left; width: 65px;">
                            Project:
                          </th>
                          <td>
                            {{.Actor.DisplayName}}
                          </td>
                        </tr>
                        <tr>
                          <th style="text-align: left; width: 65px;">
                            Task:
                          </th>
                          <td>
                            {{.Object.DisplayName}}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <pre class="operation__log" style="background-color: #4b334b; box-shadow: inset 0 0 10px 0 rgba(0,0,0,.12); color: #fff; font-family: Courier New,monospace; font-size: 14px; font-weight: 400; line-height: 22px; margin: 0; margin-top: 10px; padding: 10px 25px;">{{with .OperationLogs}}{{indent "   " .Text}}{{end}}</pre>
              </td>
            </tr>
            <tr>
              <td class="enterprisecell" style="padding-top: 0;">
                <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-top: 1px solid #e1e4ea;">
                  <tr>
                    <td style="padding: 25px 0 25px 35px;">
                      <h2 style="color: #4b334b; font-size: 20px; font-weight: 400;">Do you need to host your own?</h2>
                      <p>Harrow.io is also available to on-premise or in private on AWS! Improved security and no dependency on an external server!</p>
                      <p>Get in touch: <a href="mailto:team@harrow.io" style="color: #48639c; text-decoration: none;">team@harrow.io</a></p>
                    </td>
                    <td width="200" align="center">
                      <img src="cid:enterprise@2x.jpg" width="88" height="88" border="0" alt="Harrow Enterprise">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <p>&copy; 2016 Harrow Inc.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
